<div class="register-block">
    <h1>Create account</h1>
    <span>Be part of Freelance</span>
    <form>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter your username">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Repeat password</mat-label>
              <input matInput placeholder="Retype your password">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Enter your first name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Enter your last name">
            </mat-form-field>
        </p>
    </form>
</div>