.register-block {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #414141;
}

.register-block span {
    font-size: 22px;
}

::ng-deep .mat-form-field .mat-focused .mat-form-field-label {
    color: #001f3f !important;
}
  
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: #001f3f !important;
} 
  
::ng-deep .mat-form-field .mat-form-field-ripple {
   background-color: #001f3f !important;;
}

.mat-form-field {
    width: 100%;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
}

form {
    margin-top: 55px;
}

#register-btn {
    width: 100%;
    background-color: #5db468;
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 17px;
}

.labels {
    float: left;
}

.header {
    width: 100%;
    display: inline-block;
}

.loading {
    margin-top: 27px;
    float: right;
}

.mat-spinner {
    zoom: 0.5
}

@media screen and (max-width: 490px) {
    .loading {
        float: none;
    }
    .labels {
        float: none;
    }
    .loading {
        margin-top: 15px;
    }
    form {
        margin-top: 25px;
    }
}