<div class="login-panel">
    <h1>Join Freelance</h1>
    <div class="login-options">
        <button id="fb" mat-button>Continue with Facebook</button><br>
        <button id="login-option" mat-button>Continue with Google</button><br>
        <button id="login-option" mat-button>Continue with Apple</button>
    </div>
    <div class="or-line">
        <hr>OR<hr>
    </div>
    <div class="register-form">
            <mat-form-field appearance="legacy">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Enter your email">
            </mat-form-field>
        <button id="register-btn" mat-button>Continue</button>
    </div>
</div>
