.header {
    background-color: #001f3f;
    width: 100%;
    /* height: 680px; */
    height: auto;
    color: white;
}

.menu h1 {
    cursor: pointer;
}

.menu h1:hover {
    color: rgb(151, 151, 151);;
}
.btns-menu span {
    cursor: pointer;
}

.btns-menu span:hover {
    color: rgb(151, 151, 151);
}

.mobile-header {
    background-color: #001f3f;
    width: 100%;
    height: 680px;
    color: white;
    display: none;
}

.mat-icon-button {
    margin-top: 20px;
    margin-left: 5%;
}


.mobile-menu {
    display: flex;
}

.menu {
    display: flex;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
    margin-left: 12%;
}

.spacer {
    flex: 1 1 auto;
}

.btns-menu {
    margin-top: 32px;
    margin-right: 12%;
    font-weight: bold;
}
 
span {
    padding-right: 15px;
}

.description {
    width: 100%;
    /* height: 250px; */
    display: flex;
    height: auto;
    background-color: #edf7ff;
    padding-bottom: 80px;
}

.trusted-by-block-mobile {
    text-align: center;
    background-color: #eeeded;
    padding-bottom: 30px;
}

.companies {
    padding-top: 35px;
    font-size: 25px;
    color: #727272;
}

.companies span {
    margin-right: 50px;
    font-weight: bold;
}

#popular-service-label {
    /* margin-left: 12%; */
    margin-top: 80px;
    margin-left: 12%;
    color: #414141;
}


.carousel-services {
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12%;
    height: auto;
    /* padding-bottom: 15%; */
    margin-bottom: 130px;
}


.description-mobile{
    display: block;
    width: 100%;
    background-color: #edf7ff;
    height: auto;
    padding-bottom: 25px;
}

.desc-image-mobile img {
    width: 75vw;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 50px;
}


.text {
    margin-top: 25px;
    display: flex;
    margin-left: 12%;
}

.text span {
    margin-top: 1px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 22px;
}

.text .mat-icon {
    font-size: 30px;
}



@media screen and (max-width: 550px) {
    .marketplace {
        display: none;
    }
    .marketplace-mobile h1 {
        font-size: 25px;
        margin-left: 12%;
    }
    .footer {
        display: none;
    }
    .description {
        padding-bottom: 0;
        display: none;
    }
    .points {
        display: none;
    }
    .points-mobile {
        margin-left: 12%;
        margin-right: 12%;
    }
    .points-mobile h1 {
        font-size: 25px;
    }
    .text {
        margin-left: 0;
    }
    .desc-image {
        display: none;
    }
    .header {
        display: none;
    }
    h1 {
        margin-left: 1%;
    }
    .mobile-header {
        background-color: white;
        display: block;
        color: #001f3f;
        height: 100%;
    }
    .btns-menu {
        margin-right: 5%;
    }

    .companies {
        font-size: 15px;
    }

    .companies span {
        margin-right: 10px;
    }

    .trusted-by-block {
        display: none;
    }
    .popular-services {
        display: none;
    }

    .carousel-services {
        margin-top: 35px;
        margin-bottom: 70px;
    }
    
    #popular-service-label {
        margin-top: 30px;
        font-size: 25px;
    }
}

.searcher {
    margin-top: 100px;
    margin-left: 12%;
}

.popular-search-things {
    display: flex;
    padding-bottom: 12%;
    font-weight: bold;
}

.mat-chip {
    font-weight: bold;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-start {
    background-color: white !important;
}
  
:host ::ng-deep mat-form-field .mat-form-field-outline-gap {
    background-color: white !important;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-end {
    background-color: white !important;
}

.search-field {
    width: 100%;
    max-width: 60%;
    color: black;
    font-family: 'Quicksand';
    font-weight: bold;
}

.mat-chip-list {
    margin-right: 250px;
}

.information {
    /* width: 600px; */
    width: 50%;
}

.header-image img {
    /* height: 50vh; */
    /* height: 50vh; */
    width: 35vw;
}

.header-content {
    display: flex;
}


.search-btn {
    margin-left: 10px;
}

h2 {
    font-size: 45px;
}

.example-container {
    height: 100%;
    background-color: white;
  }

.example-sidenav {  
    width: 250px;
    /* height: 100%; */
    background-color: rgba(255, 255, 255, 0.9);
}

.mobile-btns-menu {
    margin-left: 35px;
    font-size: 20px;
    color: #001f3f;
    font-weight: bold;
}

.header-block {
    width: 100%;
    height: auto;
    background-color: #001f3f;
    padding-bottom: 30px;
}

.mobile-searcher {
    padding-top: 50px;
    margin-left: 50px;
    width: 80%;
    color: white;
}

.mobile-search-field {
    width: 70%;
    color: black;
    font-family: 'Quicksand';
    font-weight: bold;
}

.mobile-search-btn {
    margin-left: 10px;
    font-size: 15px;
    background-color: white;
    color: #001f3f;
    margin-top: 4px;
    height: 59px;
    font-weight: bold;
}

.trusted-by-block {
    background-color: #fcfaf8;
    /* height: 100px; */
    text-align: center;
    height: auto;
    padding-bottom: 35px;
}

#trusted-by-label {
    padding-top: 550px;
    font-size: 20px;
    color: rgb(126, 126, 126);
    font-weight: bold !important; 
}

.header-block h2 {
    font-size: 25px;
}

.search-btn {
    margin-left: 15px;
    margin-top: 3px;
    height: 61px;
    background-color: white;
    color: #001f3f;
    font-weight: bold;
    font-size: 20px;
}

.top-clickable-service {
    margin-top: 35px;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #414141;
}

.top-clickable-service h1 {
    margin-right: 12%;
}

.services {
    text-align: center;
    margin-top: 55px;
    display: flex;
    justify-content: center;
 
}

.services h3 {
    font-family: 'Quicksand';
}

.services .mat-card {
    width: 17vw;
    margin-right: 2%;
    height: auto;
    padding-bottom: 55px;
}

.services img {
    margin-top: 15px;
    height: 75%;
    width: 75%;
}

@media screen and (max-width: 645px) {
    .services h3 {
        font-size: 15px;
    }
    .services img {
        height: 50%;
    }
}

@media screen and (max-width: 550px) {
    .services {
        display: block;
        
    }
    .services h3 {
        font-size: 20px;
    }
    .top-clickable-service {
        margin-left: 12%;
    }
    .services .mat-card {
        width: 45vw;
        margin-bottom: 25px;
    }

}

.points {
    padding-top: 70px;
    /* margin-left: 8%; */
    margin-left: 9%;
    width: 32%;
    color: #414141;
}

.points p {
    margin-left: 12%;
    font-size: 21px;
    /* font-size: 15px; */
}



.marketplace {
    margin-top: 80px;
    margin-left: 12%;
    margin-right: 12%;
    height: auto;
}

.marketplace h1 {
    margin-left: 0%;
    color: #414141;
}

.column {
    float: left;
    /* width: 33.33%; */
    width: 25%;
    text-align: center;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 50px;
    padding-bottom: 80px;
    /* margin-left: 1%; */
}

.column img {
    width: 100px;
    height: 100px;
}

.column p {
    font-size: 20px;
}

@media screen and (max-width: 1055px) {
    .column {
        width: 33%;
    }
}
@media screen and (max-width: 800px) {
    .column {
        width: 50%;
    }
}

.footer-info {
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
}

.footer-info span {
    margin-top: 28px;
    margin-left: 20px;
}

.footer-info h2 {
    color: #727272;
    font-size: 25px;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid rgb(201, 201, 201);
}

.desc-image {
    margin-top:100px;
    /* margin-left: 5%; */
    margin-right: 12%;
}

.desc-image img {
    width: 50vw;
    margin-left: 2vw;
    /* border-radius: 250px; Intresting option */
    border-radius: 100px;
}

@media screen and (max-width: 1500px) {
    .description {
        display: block;
    }

    .points {
        width: 90%;
        margin-left: 1%;
    }

    .desc-image {
        margin-top: 50px;
    }

    .desc-image img {
        width: 80%;
        margin-left: 12%;
    }

}
