.header {
    width: 100%;
    display: block;
}


.content {
    margin-left: 20%;
    margin-right: 20%;
    /* display: flex; */
    display: block;
}

@media screen and (max-width: 1650px) {
    .content{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1600px) {
    .content{
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 1550px) {
    .content{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1450px) {
    .content{
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 1400px) {
    .content{
        margin-right: 4%;
        margin-left: 4%;
    }
}
.content h1 {
    margin-top: 25px;
    color: rgb(68, 68, 68);
}


.search {
    margin-left: 35px;
    margin-top: 25px;
    float: left;
    width: 50%;
}

#search-button {
    margin-top: 25px;
    margin-left: 5px;
    font-weight: bold;
    background-color: #001f3f;
    color: white;
    font-size: 18px;
}

.sort-and-offers-num {
    width: 100%;
    margin-top: 25px;
    display: block;
    width: 100%;
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-size: 17px;
}

.filter {
    margin-top: 50px;
    display: flex;
}

.filter button {
    font-weight: bold;
    font-family: 'Quicksand';
    border: 1px solid #888888;
    font-size: 17px;
}

.filter-options {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    font-weight: bold;
}
.mat-checkbox {
    font-family: 'Quicksand';
    color: rgb(101, 101, 101);
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    margin-top: 10px;
}

h4 {
    margin-left: 15px;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
}

#filter-category {
    margin-right: 10px;
}

:host .mat-form-field {
    /* width: 25vw; */
    width: 100%;
    height: 5vh;
    font-weight: bold;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.btns {
    margin-top: 25px;
}

.btns span {
    font-weight: bold;
}


.categories {
    width: 100%;
    /* height: auto; */
    /* min-height: 30px; */
    /* min-height: 40px; */
    height: auto;
    background-color: #001f3f;
    color: white;
    justify-content: center;
    font-weight: bold;
    float: left;
}

.categories span {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.categories span:hover {
    color: rgb(202, 202, 202);
}

.header-btns {
    float: right;
    /* margin-top: 27px; */
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

.header-btns span {
    cursor: pointer;
    /* margin-left: 15px; */
    margin-right: 15px;
}

.header-btns span:hover {
    color: #001f3f;
}

.categories-content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7px;
    margin-bottom: 7px;
}



.header-btns button {
    /* margin-right: 15px; */
    /* margin-left: 15px; */
    background-color: #001f3f;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/* .header-btns button:hover {
    color: #001f3f;
    background-color: white;
} */


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #001f3f !important;
}


@media screen and (max-width: 1650px) {
    .categories-content{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1600px) {
    .categories-content{
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 1550px) {
    .categories-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1450px) {
    .categories-content{
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 1400px) {
    .categories-content{
        margin-right: 4%;
        margin-left: 4%;
    }
}

.main-content {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    /* float: left; */
    font-size: 19px;

}

.main-content h2 {
    margin-bottom: 5px;
}


@media screen and (max-width: 1650px) {
    .main-content{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1600px) {
    .main-content{
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 1550px) {
    .main-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1450px) {
    .main-content{
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 1400px) {
    .main-content{
        margin-right: 4%;
        margin-left: 4%;
    }
}

#price input {
    height: 25px;
    width: 110px;
    margin-left: 12px;
    margin-right: 12px;
    border: 1px solid #001f3f;
    border-radius: 12px;
}

.mat-radio-group {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.offers {
    margin-top: 30px;
}

.offer {
    width: 300px;
    height: 450px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

.info-seller {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 20px;
}

.stars {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 10px;
}

.star-icon {
    color: rgb(252, 202, 0);
}

.price {
    display: block;
    margin-right: 10px;
}

.title {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


* {
    box-sizing: border-box;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    /* width: 25%; */
    width: 340px;
    /* padding: 0 10px; */
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 2160px) {
    .column {
       width: 27%;
       margin-right: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .column {
       width: 33%;
       margin-right: 50px;
    }
}