<div class="header">
    <div class="content">
        <h1>Freelance</h1>
        <div class="search">
            <mat-form-field appearance="outline" floatLabel="never">
                <input matInput placeholder="What service are you looking for today?">
             </mat-form-field>
        </div>
        <div class="btns">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>notifications_none</mat-icon>
              </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon> mail_outline</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <span>Orders</span>
        </div>
    </div>
    <hr>
    <div class="categories">
        <span>Graphics & Design</span>
        <span>Digital Marketing</span>
        <span>Writing & Translation</span>
        <span>Video & Animation</span>
        <span>Music & Audio</span>
        <span>Programming & Tech</span>
        <span>Business</span>
    </div>
    <hr>
</div>


<!-- <mat-icon> message</mat-icon> -->
<!-- <mat-icon> mail_outline</mat-icon> -->
<!-- <mat-icon>favorite_border</mat-icon> -->
<!-- <mat-icon>notifications_none</mat-icon> -->